In [1]:
import pymongoarrow
import pymongo
import pandas
import numpy
import pyarrow
import pprint
from datetime import datetime

In [2]:
client = pymongo.MongoClient("mongodb+srv://heba:heba333@test.fsjvnow.mongodb.net/?retryWrites=true&w=majority")

In [3]:
client.list_database_names()

['bank', 'admin', 'local']

In [6]:
db = client.db = client.bank
col = db.accounts

In [5]:
from pymongoarrow.monkey import patch_all
patch_all()

In [8]:
df = col.find_pandas_all({"account_type" : "checking"})
df

,_id,account_holder,account_is,account_type,balance,last_updated
0,b'dQ\x8b4\xa4\xb7\xa9\x8dY\x07\x8f\xd3',Heba allah hashim,MDBB29001337,checking,534,2023-05-02 22:14:12.262